:root {
  --color-bg: #ffffa0;
  --color-text-main: #000000;
  --color-primary: #afece0;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  
  --spacing: 4px;
  --carousel-item-width: 100vw;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
body {
  margin: 0;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: Space Grotesk;
  src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
}
@font-face {
  font-family: Space Grotesk;
  font-weight: bold;
  src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
}

.carousel-window {
  width: var(--carousel-item-width);
  min-height: var(--carousel-item-width);
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  touch-action: pan-x;
}

.carousel-list {
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.carousel-item {
  width: var(--carousel-item-width);
  min-height: var(--carousel-item-width);
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  width: 100%;
}

.carousel-item.file-upload {
  border: 1px solid white;
}

.gallery {
  margin-top: 10px;
  display: flex;
  width: 100vw;
  overflow-x: auto;
}

.gallery {
  margin-bottom: 1rem;
}

.gallery-item {
  margin-left: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item button {
  width: 30px;
  height: 30px;
  font-weight: 100;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.gallery-item button span {
  display: block;
  font-size: 20px;
  transform: rotate(45deg);
}

.thumbnail {
  padding: var(--spacing);
}

.color-picker {
  margin-top: calc(2 * var(--spacing));
  display: flex;
  justify-content: center;
}

.color-picker input, .color-picker button {
  color: white;
  background: transparent;
  border: 1px solid white;
  margin-right: 4px;
  width: 12ch;
  height: 12ch;
}
